:root {
    --main-accent-color: rgb(247, 78, 78);
    --main-accent-color-muted: rgb(168, 0, 0);
    --main-highlight-color: rgb(255, 158, 158);
}


body {
    margin: 0;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    font-family: monospace;
    line-height: 1.5em;
}


.landing{
    height: 100vh;
    background-image: radial-gradient(circle, #472525, #371d1f, #261619, #180e10, #000000);
}
.header{
    padding: 10px;
}
ul{
    list-style-type: square;
    list-style-position: inside;
}

hr{
    border-top: 2px solid var(--main-accent-color);
    width:75%
}

p {
    margin: 16px;
}

h1, h2, h3 {
    line-height: 1.3em;
}
a {
    color: var(--main-accent-color);
}
a:hover {
    color: var(--main-highlight-color);
}
a:active {
    color: rgb(136, 219, 136); 
}

img.sm {
    max-width: 200px;
    padding: 2.5;
}

.emphasize {
    color: var(--main-accent-color);
    font-size: 24px;
}

.integration-img {
    display: flex;
    margin: 16px;
    justify-content: center;
    align-content: center;
    background-color: black;
    overflow: auto;
}

#arrow {
    border: solid var(--main-accent-color);
    border-width: 0 10px 10px 0;
    display: none;
    padding: 10px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);


}
#arrow:hover {
    border: solid var(--main-highlight-color);
    border-width: 0 10px 10px 0;
}


#logo {
    max-width: 500px;
    width: 100%;
    height: auto;
}

#setup {
    text-align: left;
}
@media only screen and (max-width: 800px) {
    hr {
        width:95%
    }
}

@media only screen and (min-width: 800px) {
    #arrow {
        display: inline-block;
    }
    .landing {
        height: 100vmin;
    }
}


.tutorial{
    text-align: left;
    display: inline-block;
}

#addNow {
    font-family: inherit;
    padding: 1rem;
    margin: 1rem;
    width: 16%;
    max-width: 16%;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--main-accent-color-muted);
    border: none;
    color: #fff;
    cursor: pointer;
}
.body {
    text-align: center;
}
.body > pre {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.l2 > pre {
    margin-top: 2em;
}