body {
    margin: 0;
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    font-family: monospace;
}

p {
    margin: 16px;
}

a {
   color: rgb(0, 168, 0); 
}
a:hover {
   color: rgb(0, 207, 0); 
}
a:active {
   color: rgb(136, 219, 136); 
}

img.sm {
    max-width: 200px;
    padding: 2.5;
}

.emphasize {
    color: green;
    font-size: 24px;
}

.integration-img {
    display: flex;
    margin: 16px;
    justify-content: center;
    align-content: center;
    background-color: black;
    overflow: auto;
}

.arrow {
    border: solid white;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#setup {
    text-align: left;
}

@media only screen and (min-width: 800px) {
    .landing {
        height: 100vmin;
    }
    body {
        margin: 15px;
    }
}
